:root {
    --light-color : #6A6A6A;
}
* {
    padding: 0;
    margin: 0;
}
html {
    background: #f8f9f5;
}
body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    max-width: 480px;
    margin: auto;
    background: white;
}
.light-color {
    color: var(--light-color);
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100dvh;
    padding: 0 10px;
}
header {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 7;
    /* padding: 0 20px; */
}
#header__locationForm {
    display: grid;
    grid-template-rows: 1fr 1fr ;
    align-self: baseline;
    padding-top: 10px;
    /* font-size: 1.125rem; */
}
.header__form-elements {
    display: flex;
    align-items: center;
    /* max-width: 100%; */
}
label {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 10%;
}
.form-elements__inputTextBtn {
    border: solid 1px var(--light-color);
    border-radius: 999px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 5px 15px;
    font-size: 1rem;
    text-transform: capitalize;
    color: black;
}
.on-error {
    border: solid 1px darkred;
}
.form-elements__inputTextBtn:focus {
    outline-color:var(--light-color);
}
::placeholder {
    color: black;
}
#form-elements__submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    visibility: hidden;
    width: 10%;
    margin-left: 5px;
}
.form__error-text {
    display: flex;
    align-items: center;
    color: darkred;
}
.main-weather {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 5;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
h1 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.main-weather__datas {
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}
.main-weather__datas span {
    display: block;
    font-size: 4.875em;
    font-weight: 400;
}
.main-weather__current-weather-sky {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.25em;
}
.details {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
}
.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 700;
}
.detail span {
    display: block;
    font-size: 1rem;
    font-weight: normal;
}
.next-days {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 7;
    padding-bottom: 10px;
}
.next-days__day {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}
.next-days__day img {
    width: 100%;
}
.next-days__day p {
    font-weight: 700;
}

.feeling-blue {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 240px;
}
.error {
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    /* outline: solid 4px red; */
}
@media all and (orientation: landscape) {
    main {
        height: auto;
    }
}